<h1>Hello Micheal! Create a new Lesson</h1>

<form action="/lessons/new" method="post">
  <label for="lesson_name">Lesson Name:</label>
  <input id="lesson_name" name="name" type="text">
  <label for="lesson_number">Lesson Number:</label>
  <input id="lesson_number" name="number" type="text">
  <button>Create a New Lesson!</button>
</form>
